*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e0f8cf;
}
body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(#2c3e50, #34495e, #071821);
}
canvas{
    margin: 10px 10px;
    border: 16px solid #071821;
    border-radius: 16px;
    box-shadow: 0px 5px 25px #071821;
}
h1{
    margin: 30px 0 0 0;
    text-transform: uppercase;
    font-weight: 800;
}
h3{
    position: absolute;
    left:0;
    top:0;
}
button{
    background: none;
    font-size: 16px;
    font-weight: 600;
    border: none;
}