* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    color: #555555;
    line-height: 1.5;
    font-size: 10px;
}

body {
    background: #fafafa;
}

.pontuacao {
    padding: 10px;
}

.background {
    background-image: url('sprites/background.png');
    background-repeat: repeat-x;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 64px;
}

.dino {
    width: 60px;
    height: 60px;
    background-image: url('sprites/dino-run.gif');
    background-size: cover;
    position: absolute;
    bottom: 10px;
    margin: 0 0 0 10px;
}

.cactus {
    width: 60px;
    height: 60px;
    background-image: url('sprites/obstacle.png');
    background-size: cover;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}

.about p{
    text-align: justify;
}

.gamebox, .start {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn, .btnJump {
    width: 100%;
    height: 40px;
    cursor: pointer;
    background: none;
    border-color: #555555;
    color: #555555;
    border-style: dotted;
    margin-top: 25px;
    padding: 5px;
}

.btn:hover {
    border-style: dashed;
}

.btnJump{
    display: none;
    width: 60px;
    height: 60px;
    background-image: url('sprites/btnJump.png');
    background-size: cover;
    position: absolute;
    right: 32px;
    bottom: 32px;
    text-align: center;
    z-index: 999!important;
}
